h1 {
	margin-bottom: 30px;
}

img {
	width: 80px;
}

.tunnel {
	margin-right: 30px;
	margin-left: 30px;
	background-color: #DDDDDD;
	border-top: 2px solid #000000;
	border-bottom: 2px solid #000000;
	display: inline-block;
	padding:10px;
}
